header{
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}
/*===========CTA============*/
.cta{
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/*===========Geader Social============*/
.header_social{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header_social ::after{
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
/*===========im============*/
.mee-imag{
  background:linear-gradient( var(--color-primary), transparent);
  width: 2rem;
  height: 30rem;
  
  left: calc(50% - 11rem);
  margin-top: 12rem 12rem 0 0;
  position: absolute;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
}

/*===========scroll down============*/
.scroll_down{
  position: absolute;
  right: -2.3rem;
  bottom: 3rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}
/*==================for medium devices================*/
@media screen and (max-width: 1024px){
  header{
    height:  68vh;
  }
}
/*==================for Smaller devices================*/
@media screen and (max-width: 600px){
  header{
    height: 100vh;
  }
  .header_social, .scroll_down{
    display: none;
  }
}
